{% extends 'base.html' %}

{% block title %}
My Check List
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/createnewiti.css">
{% endblock %}

{% block body %}

<nav>
  <img src="../static/travelogue.png" class="logo">
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="#">CONTACT US</a>
    </li>
  </ul>

</nav>
<div class="container">
  <div class="card">
    <form action="/itineraries" method="POST">
      <h2>Create your itinerary:</h2>
      <input type="text" name="itinerary_name">

      <h2>Choose your date:</h2>
      <label for="travel_date">Travel Date:</label>
      <input type="date" id="travel_date" name="travel_date">
      <div>
        <button type="submit">Start my journey</button>
      </div>

    </form>
  </div>
</div>

{% endblock %}