{% extends 'base.html' %}

{% block title %}Expense{% endblock %}

{% block head %}
{# ChartJS #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

{# randomColor: generate random colors #}
<link rel="stylesheet" href="/static/expense.css">
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
<script src="https://kit.fontawesome.com/5bb9642507.js" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
<div class="container">

  <!-- <div class="main-container"></div> Having problem with blur background! It just makes everything blur out-->
  <div class="header">


    <div class="side-nav">
      <a href="#" class="logo">
        <img src="../static/travelogue.png">
      </a>


      <ul class="nav-links">

        <li><a href="/itineraries"><i class="fa-solid fa-plane-departure"></i>
            <p>Itinerary</p>
          </a></li>
        <li><a href="/expense/{{itinerary.itinerary_id}}"><i class="fa-solid fa-sack-dollar"></i>
            <p>Expense</p>
        <li><a href="/itineraries/{{itinerary.itinerary_id}}/checklist"><i class="fa-regular fa-list-check"></i>
            <p>Checklist</p>
          </a></li>
        <div class="active"></div>

      </ul>
    </div>
  </div>

  <h1>Jot Down My Expense</h1>




  <form action="/itineraries/{{itinerary.itinerary_id}}/expense" method="POST" id="expenseForm">

    <input name="expense_activity" id="expense_activity" class="expense_activity" type="text" placeholder="Activity">


    <input name="type" class="type" id="type" type="text" placeholder="Type">



    <input type="text" name="amount" class="amount" value="" data-type="currency" placeholder="$1,000.00">


    <button type="submit" id="expense">Calculate</button>

  </form>

  <div class="content">

    <div class="doughnut">
      <canvas id="chart"></canvas>
    </div>





    <div class="expenses" id="expenses">

      <table class="styled-table">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for expense in itinerary.expenses %}
          <tr class="expenseRow" data-expense-id="{{ expense.expense_id }}">
            <td class="expenseActivity">{{ expense.expense_activity }}</td>
            <td class="expenseType">{{ expense.type }}</td>
            <td class="expenseAmount">{{ expense.amount }}</td>
            <td>
              <button class="deleteExpense">🗑️</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>

  </div>



  <script src="/static/js/expense.js"></script>


</div>
{% endblock %}